/* Global */
* {
	font-family: 'Montserrat', sans-serif;
}

body {
	padding: 0px 30px;
}

/* Text */
th {
	font-size: 14px;
	padding-left: 100px;
}

h3 {
	color:#5969f6;
}

/* Input */
.form-inputs{
	margin-top: 20px;
    background-color :white;
    border-radius: 70px;
    box-shadow: 0 2px 35px #00000038;
	display: flex;
	align-items: center;
	height: 45px;
}

input {
	border: none;
	outline: none;
	width: 80%;
	padding-left: 20px;
	background-color: transparent;
}


/* Results */
.results-text {
	padding-top: 20px;
}

.results {
	margin: 0px 20px;
	width: 90%;
	height: 70%;
}

table {
	margin-top: 40px;
    box-shadow: 0 2px 20px #00000038;
    border-collapse: collapse;
    padding: 20px;
    margin: 0;
    width: 100%;
}

th, td {
	border: 1px solid #222;
	text-align: center;
	padding: 10px;
	align-self: center;
}

