* {
	padding: 0;
	margin: 0;
}
.grid {
	display: grid;
	grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
	grid-gap: 10px;
	height: 100vh;
}

.box {
	padding-top: 20px;
	font-family: 'Century Gothic';
	color: white;
	font-size: 20vh;
	text-align: center;
	box-shadow: 2px 2px 2px black;
}

