* {
	font-family: 'DM Sans', sans-serif;
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 17px;
}

h6 {
	font-size: 15px;
}

h7 {
	font-size: 13px;
}


/* Navigation bar */
nav {
	background: #232422;
	height: 30px;
	padding: 30px 10px;
}
 
nav > a {
	margin-right: 40px;
}

a {
	text-decoration: none;
	color: #ffffff;
	width: 80%;
	font-size: 18px;
	margin-left: 50px;
}


a:hover {
	cursor: hand;
}

a.active {
	color: #C6426E;
}

body {
	margin : 0;
  	padding : 0;
	background: #642B73;
	background: -webkit-linear-gradient(to right, #C6426E, #642B73);
	background: linear-gradient(to right, #C6426E, #642B73); 
}

.card-container {
	position: absolute;
  	width: 400px;
  	height: 100%;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
  	background: #fff;
  	color: #333;
}

.card{
	margin: 0px 30px;
}

select {
	text-align: left;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
	padding: 10px;
	min-width: 100%;
	height: 40px;
	border-radius: 10px;
	position: relative;
	z-index: 1;
	border-color: transparent;
}

input[type='date'] {
	text-align: left;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
	padding: 10px;
	min-width: 93%;
	height: 19px;
	border-radius: 10px;
	position: relative;
	z-index: 1;
	border-color: transparent;
}

input[type='checkbox'] {
	margin-top: 15px;
}

button[type='button'] {
	padding: 10px 25px;
	background-color: #0f0f0f; 
	border: 1px solid #0f0f0f;
	color:  #ffffff;
	display: block;
	letter-spacing: 3px;
}

.button-container {
 	display: flex;
  	align-items: center;
  	justify-content: center;
  	margin-top: 15px;
}

.submit-btn {
	margin-left: auto;
	margin-right: auto;
}